<a href="https://colab.research.google.com/github/melapakula-niranjan/Neo-Stats/blob/main/Contoso_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import hashlib

In [ ]:
file_path = "/content/Contoso Data.xlsx"

In [ ]:
crm = pd.read_excel(file_path, sheet_name="crm_customers")
crm.head()

,customer_id,first_name,last_name,email,phone_number,date_of_birth,address_line1,city,country,created_at,updated_at
0,CUST001,Olivia,Khan,olivia.khan1@example.com,971505614226,1981-08-31,"Building 15, Street 5",Dubai,UAE,2024-05-11 09:38:53,2024-06-27 09:38:53
1,CUST002,Noah,Khan,noah.khan2@example.com,971598078673,1967-03-01,"Building 2, Street 3",Abu Dhabi,UAE,2024-02-15 04:16:42,2024-03-18 04:16:42
2,CUST003,Emma,Doe,emma.doe3@example.com,971584335942,2002-01-31,"Building 27, Street 8",Ajman,UAE,2024-04-24 10:10:37,2024-05-11 10:10:37
3,CUST004,John,Sharma,john.sharma4@example.com,971566708456,1983-11-29,"Building 10, Street 7",Sharjah,UAE,2024-01-20 20:20:03,2024-01-25 20:20:03
4,CUST005,Omar,Khan,omar.khan5@example.com,971556770619,1983-01-01,"Building 3, Street 15",Ras Al Khaimah,UAE,2024-01-25 05:43:55,2024-03-24 05:43:55

In [ ]:
transactions = pd.read_excel(file_path, sheet_name="core_transactions")
transactions.head()

,txn_id,customer_id,txn_timestamp,txn_amount,txn_currency,merchant_category,channel,status
0,TXN0001,CUST162,2024-05-06 09:28:37,359.05,AED,TRAVEL,POS,SUCCESS
1,TXN0002,CUST118,2024-04-08 04:21:25,224.17,AED,DINING,POS,SUCCESS
2,TXN0003,CUST052,2024-09-20 00:04:56,207.34,AED,GROCERIES,ONLINE,FAILED
3,TXN0004,CUST132,2024-06-17 07:51:30,207.35,AED,FUEL,ONLINE,SUCCESS
4,TXN0005,CUST193,2024-08-04 14:46:29,697.46,AED,TRAVEL,ONLINE,SUCCESS

In [ ]:
campaigns = pd.read_excel(file_path, sheet_name="marketing_campaigns")
campaigns.head()

  campaign_id          campaign_name  start_date    end_date channel
0      CMP001   Campaign 1 - Rewards  2024-04-01  2024-04-21  SOCIAL
1      CMP002   Campaign 2 - Rewards  2024-04-16  2024-05-06     SMS
2      CMP003     Campaign 3 - Bonus  2024-05-01  2024-05-21     SMS
3      CMP004  Campaign 4 - Cashback  2024-05-16  2024-06-05  SOCIAL
4      CMP005  Campaign 5 - Cashback  2024-05-31  2024-06-20   EMAIL

In [ ]:
events = pd.read_excel(file_path, sheet_name="campaign_events")
events.head()

  event_id customer_id campaign_id event_type      event_timestamp
0  EVT0001     CUST164      CMP006       OPEN  2024-06-25 05:43:33
1  EVT0002     CUST147      CMP007       SENT  2024-07-01 17:33:39
2  EVT0003     CUST088      CMP004       SENT  2024-05-23 14:36:59
3  EVT0004     CUST075      CMP005       OPEN  2024-06-14 16:39:44
4  EVT0005     CUST070      CMP008      CLICK  2024-08-02 22:57:01

In [ ]:
crm["updated_at"] = pd.to_datetime(crm["updated_at"])

In [ ]:
last_watermark = pd.to_datetime("2024-01-01")

In [ ]:
crm_incremental = crm[crm["updated_at"] > last_watermark]
crm_incremental

,customer_id,first_name,last_name,email,phone_number,date_of_birth,address_line1,city,country,created_at,updated_at
0,CUST001,Olivia,Khan,olivia.khan1@example.com,971505614226,1981-08-31,"Building 15, Street 5",Dubai,UAE,2024-05-11 09:38:53,2024-06-27 09:38:53
1,CUST002,Noah,Khan,noah.khan2@example.com,971598078673,1967-03-01,"Building 2, Street 3",Abu Dhabi,UAE,2024-02-15 04:16:42,2024-03-18 04:16:42
2,CUST003,Emma,Doe,emma.doe3@example.com,971584335942,2002-01-31,"Building 27, Street 8",Ajman,UAE,2024-04-24 10:10:37,2024-05-11 10:10:37
3,CUST004,John,Sharma,john.sharma4@example.com,971566708456,1983-11-29,"Building 10, Street 7",Sharjah,UAE,2024-01-20 20:20:03,2024-01-25 20:20:03
4,CUST005,Omar,Khan,omar.khan5@example.com,971556770619,1983-01-01,"Building 3, Street 15",Ras Al Khaimah,UAE,2024-01-25 05:43:55,2024-03-24 05:43:55
...,...,...,...,...,...,...,...,...,...,...,...
195,CUST196,Olivia,Taylor,olivia.taylor196@example.com,971595059048,1974-10-09,"Building 19, Street 14",Dubai,UAE,2024-04-29 09:13:13,2024-05-21 09:13:13
196,CUST197,Maria,Patel,maria.patel197@example.com,971564142605,1970-10-29,"Building 34, Street 12",Dubai,UAE,2024-04-12 03:36:52,2024-05-16 03:36:52
197,CUST198,Noah,Taylor,noah.taylor198@example.com,971581341153,1991-07-28,"Building 31, Street 2",Ajman,UAE,2024-03-13 11:42:54,2024-03-29 11:42:54
198,CUST199,Maya,Doe,maya.doe199@example.com,971552133461,1988-06-19,"Building 16, Street 4",Ras Al Khaimah,UAE,2024-05-22 18:13:10,2024-07-09 18:13:10
199,CUST200,Sara,Sharma,sara.sharma200@example.com,971506910597,2002-02-27,"Building 22, Street 6",Ajman,UAE,2024-05-15 00:44:55,2024-06-14 00:44:55

In [ ]:
def generate_customer_key(val):
    return hashlib.sha256(val.encode()).hexdigest()

crm_incremental["CustomerKey"] = crm_incremental["customer_id"].apply(generate_customer_key)

crm_incremental[["customer_id", "CustomerKey"]].head()

  customer_id                                        CustomerKey
0     CUST001  81ddee8a5dc89d250355c12f74c8cf41234f667145f51a...
1     CUST002  7b81147a0e6e8c5f188f6c9e2cb449e10e357e22b90ad8...
2     CUST003  56024914dbf4e483e58575c7c6cd4d5056db1c8143f1cc...
3     CUST004  6e00467861a73dbadb02ae8aaa13f84c311f14dd565e57...
4     CUST005  cb72e85dc87cb17090888016e8a332c7948367fc0e510c...

In [ ]:
invalid_amount_txns = transactions[transactions["txn_amount"] < 0]
invalid_amount_txns

Empty DataFrame
Columns: [txn_id, customer_id, txn_timestamp, txn_amount, txn_currency, merchant_category, channel, status]
Index: []

In [ ]:
missing_customer_txns = transactions[transactions["customer_id"].isnull()]
missing_customer_txns

Empty DataFrame
Columns: [txn_id, customer_id, txn_timestamp, txn_amount, txn_currency, merchant_category, channel, status]
Index: []

In [ ]:
transactions["txn_timestamp"] = pd.to_datetime(transactions["txn_timestamp"])

future_txns = transactions[
    transactions["txn_timestamp"] > pd.Timestamp.now()
]

future_txns

Empty DataFrame
Columns: [txn_id, customer_id, txn_timestamp, txn_amount, txn_currency, merchant_category, channel, status]
Index: []